body{
  background-image:url("https://images7.alphacoders.com/411/thumb-1920-411820.jpg");
  background-attachment: fixed;
  margin: 50px;
  
}
a.link{
  color: blueviolet;

}



a:active{
    text-decoration: underline;
}

a:link, a:visited{
    background-color: purple;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
  
}

a:hover, a:active{
    background-color: rebeccapurple;
}


div.imageGallery{
  margin:4px;
  float: left;
  border: 5px solid black;
  width: 300px;
  height : 380px;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px ;
  background: lightpink;
  box-shadow: 5px 4px grey;
  
}



div.disc{
  padding: 3px;
  text-align: center;
  width: 300px;
  height: 200px;
  overflow: hidden;
}


div.button{
  color: mediumblue;
  text-align: center;
}
