body{
    background-image: linear-gradient(rgb(218, 101, 24), yellow , red);
    
}





table,th,td{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    
}    
pre{
    color: black;
     font-family: Arial, Helvetica, sans-serif;
}
